<div>
  <a (click)="upVote(story.authorId, story.id)" class="ml-3 mt-3 remove-underline">
    <i *ngIf="!isUpVoteClicked" class="btn btn-light btn-sm bi bi-caret-up">UpVote</i>
    <i *ngIf="isUpVoteClicked" class="btn btn-info btn-sm bi bi-caret-up-fill">UpVoted</i>
  </a>

  <a (click)="downVote(story.authorId, story.id)" class="ml-3 mt-3 remove-underline">
    <i *ngIf="!isDownVoteClicked" class="btn btn-light btn-sm bi bi-caret-down">DownVote</i>
    <i *ngIf="isDownVoteClicked" class="btn btn-danger btn-sm bi bi-caret-down-fill">DownVoted</i>
  </a>

  <a (click)="resetVote(story.authorId, story.id)" class="ml-3 mt-3 remove-underline" *ngIf="isResetButtonActive">
    <i class="btn btn-warning btn-sm bi bi-arrow-return-left">Reset Vote</i>
  </a>

  <p class="font-weight-normal text-monospace ml-3 mt-3">{{story.content}}</p>
  <p class="font-weight-lighter text-arial ml-3 mb-3">
    Author: <strong>{{story.username}}</strong>
  </p>
  <p class="font-weight-lighter text-arial ml-3 mb-3">
    <em>Created on: {{story.date}}</em>
  </p>
</div>
